/* Navigator Bar Styles */
#header-image{
    width: 100%;
}

#categories-navbar li{
    display: inline-block;
    }

#categories-navbar ul{
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #555;
    padding: 0px;
}

.nav-item{
    display: block;
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-item:hover{
    background-color: #3D3B3B;
}

nav{
    background-color: #555;
    overflow: auto;
    margin-bottom: 16px;
}
nav a{
    float:right;
}

/* Article */

article {
    column-count: 3;
    column-gap: 90px;
    column-rule-style: dotted;
  }
#news {
    background: #fff;
    margin: auto;
    padding: 20px 40px;
    width: 1000px;
}
#news h1{ 
    font-family: "Montserrat", sans-serif;
    font-size: 44px; 
    margin-top: 0; 
    text-align: center; 
    text-transform: uppercase;
}
#news h2{
    font-size: 22px;
    margin-top: 0;
}
#news h3{
    font-size: 18px; 
}

/* Carrousel */

#offers {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.number-carousel{
    color: #421313;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}    
.active {
        background-color: #717171;
}
.carrousel-dots{
    text-align:center
}
.carrousel {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}